$context-default: $font-size;

// Em converter

@function em($target, $context: $context-default) {
  @if (unitless($target)) {
    $target: $target * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return ($target / $context) * 1em;
}


// Rem converter

@function rem($target, $context: $context-default) {
  @if (unitless($target)) {
    $target: $target * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return ($target / $context) * 1rem;
}

// VH convert

@function vh($target, $viewportHeight: $vh-height-bp) {
  @if (unitless($target)) {
    $target: $target;
  } @else {
    $target: $target / 1px;
  }

  @if (unitless($viewportHeight)) {
    $viewportHeight: $viewportHeight
  } @else {
    $viewportHeight: $viewportHeight / 1px;
  }

  // высота шрифта в макете / высота макета * 100 + vh
  @return ($target / $viewportHeight) * 100vh;
}
