.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 150px;
  padding: 15px;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  font-family: $primary-font;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: $base-color;
  background-color: transparent;
  border: 1px solid $base-color;
  letter-spacing: 0.035em;
  box-sizing: border-box;
  box-shadow: none;
  border-radius: 0;
  outline: none;
  user-select: none;
  transition: $duration * 2;
  cursor: pointer;

  &:hover,
  &:focus {
    color: #ffffff;
    border-color: lighten($accent-color, 6%);
    background-color: lighten($accent-color, 6%);
  }

  &:active {
    color: #ffffff;
    border-color: darken($accent-color, 6%);
    background-color: darken($accent-color, 6%);
  }

  &--fluid {
    width: 100%;
  }
}

.button__icon {
  width: 22px;
  height: 22px;
  flex-shrink: 0;
  fill: currentColor;

  &--left {
    margin-right: 6px;
  }

  &--right {
    margin-left: 6px;
  }
}
