.common-section {
  padding-top: 95px;
  padding-bottom: 95px;
}

.common-header {
  margin-bottom: 50px;
}

.common-title {
  margin: 0;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  color: $accent-color;
}
