.download-attachments {

}

.da-attachments-list {
  @include clear-list();

  display: flex;
  flex-wrap: wrap;
  margin-bottom: -$gutter * 2;

  .pdf {
    position: relative;
    width: 100%;
    min-height: 72px;
    margin-bottom: $gutter * 2;

    @include mq-min(630px) {
      @include calc-column-width(2, $gutter * 2);
    }
  }

  br {
    display: none;
  }
}

.attachment-link {
  display: block;
  margin: 0;
  margin-bottom: 5px;
  padding-left: 100px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.15;
  color: $base-color;
  transition: $duration;
  text-decoration: none;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 72px;
    height: 72px;
    background: url("images/icon-pdf.svg") no-repeat center;
    background-size: contain;
  }
}

.attachment-description,
.attachment-caption {
  display: block;
  margin-bottom: 5px;
  padding-left: 100px;
  font-size: 14px;
  line-height: 1.25;
  color: $gray-164;
}

.attachment-size {
  display: block;
  padding-left: 100px;
  font-size: 14px;
}

.attachment-label {
  color: $gray-164;
}
