.wpcf7-form {
  p:empty,
  br {
    display: none;
  }
}

span.wpcf7-not-valid-tip {
  display: none;
}

.wpcf7-form-control-wrap {
  display: block;
}

div.wpcf7-response-output {
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  padding: 12px 20px;
  font-size: 13px;
  text-shadow: none;
  border: 5px solid;
  border-radius: 2px;

  &.wpcf7-validation-errors {
    color: mix(#000, $warning-color, 50%);
    background-color: rgba($warning-color, 0.8);
    border-color: $warning-color;
  }

  &.wpcf7-mail-sent-ok {
    color: mix(#000, $success-color, 60%);
    background-color: rgba($success-color, 0.8);
    border-color: $success-color;
  }
}
