.main-nav {

}

.main-nav__list {
  @include clear-list();

  max-height: 100%;
  text-align: center;

  a {
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 600;
    font-size: 30px;
    line-height: 1.15;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    text-align: center;
    color: $muted-color;
    color: $gray-164;
    transition: $duration;

    &:hover,
    &:focus {
      color: $base-color;
    }
  }

  .current-menu-item a {
    color: $accent-color;
  }

  @include mq-min(768px) {
    a {
      font-size: 50px;
    }
  }
}
