.navbar {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 30;
  width: 100vw;
  padding-top: 30px;
  padding-bottom: 30px;
  transition: $duration * 1.5;

  body:not(.homepage) & {
    background-color: $gray-249;
  }

  .is-out-cover-opened:not(.homepage) & {
    background-color: #ffffff;
  }

  .is-navbar-sticky.homepage & {
    background-color: #ffffff;
  }

  .is-navbar-sticky & {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  @include mq-min(1024px) {
    .homepage & {
      background-color: #fff;
    }

    .is-navbar-sticky & {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }

  @include mq-min(1200px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.navbar__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo {
  margin-right: 20px;

  @include mq-max(767px) {
    max-width: 160px;
  }
}

.navbar__phone {
  margin-left: auto;
  margin-right: 10%;
  transition: $duration * 2;

  .is-out-cover-opened & {
    opacity: 0;
    visibility: hidden;
  }
}

.navbar__user-nav {
  margin-right: 10%;
  transition: $duration * 2;

  .is-out-cover-opened & {
    opacity: 0;
    visibility: hidden;
  }
}
