.navbar {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #fff;
}

.navbar__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
