.navbar-phone {
  display: inline-flex;
  align-items: center;
  font-weight: 600;
  text-decoration: none;
  color: currentColor;
}

.navbar-phone__icon {
  display: block;
  width: 32px;
  height: 32px;
  fill: #ff3c08;

  @include mq-min(700px) {
    display: none;
  }
}

.navbar-phone__label {
  @include mq-max(700px) {
    display: none;
  }
}
