.news-preview {

}

.news-preview__list {
  @include clear-list();

  display: flex;
  flex-wrap: wrap;
}

.news-preview__item {
  width: 100%;
  margin-bottom: 10px;

  @include mq-range(568px, 889px) {
    @include calc-column-width(2, 10px);
  }

  @include mq-min(890px) {
    @include calc-column-width(3, 10px);
  }
}
