.person-profile {
  position: relative;

  @include mq-max(1023px) {
    padding-top: 5px;
  }

  @include mq-min(1024px) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-items: flex-start;
  }
}

.person-profile__photo-wrapper {
  margin-left: -$gutter / 2;
  margin-right: -$gutter / 2;

  @include mq-min(1024px) {
    position: absolute;
    top: 200px;
    flex-shrink: 0;
    width: 40%;
    margin-left: 0;
    margin-right: 0;
  }
}

.person-profile__photo {
  @include make-fit-object();

  max-width: 320px;
  margin-bottom: 40px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;

  @include mq-min(1024px) {
    margin-bottom: 0;

  }
}

.person-profile__header {
  width: 100%;
}

.person-profile__content {
  @include mq-min(1024px) {
    width: 60%;
    margin-right: auto;
    padding-right: 60px;
    box-sizing: border-box;
  }
}
