.services {

}

.services__handlist {
  max-width: 885px;
  margin-left: auto;
  margin-right: auto;
}

.services__separator {
  height: 1px;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #e6e4e4;
}

.services__persons {
  margin-bottom: 45px;
}

.services__actions {
  text-align: center;
}
