.textual {
  font-weight: 400;
  font-size: rem(18);
  line-height: 1.35;

  dfn {
    font-weight: 600;
    font-style: normal;
  }

  & > * + * {
    margin-top: rem(18);
    margin-bottom: 0;
  }

  & > * + section {
    margin-top: rem(18 * 5);
  }

  & > div {
    max-width: 100%;
  }

  & > h1,
  & > h2,
  & > h3,
  & > h4,
  & > h5,
  & > h6 {
    font-weight: 600;
    line-height: 1.15;
    font-family: $primary-font;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $accent-color;
  }

  & > h2 {
    font-size: rem(18);
  }

  & > h3 {
    font-size: rem(18);
  }

  & > * + h2 {
    margin-top: rem(40);
  }

  & > * + h3 {
    margin-top: rem(40);
  }

  & > h2 + * {
    margin-top: rem(18);
  }

  & > h3 + * {
    margin-top: rem(18);
  }

  & > section > h1,
  & > section > h2,
  & > section > h3,
  & > section > h4,
  & > section > h5,
  & > section > h6 {
    font-weight: 600;
    line-height: 1.15;
    font-family: $primary-font;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $accent-color;
  }

  & > section > h2 {
    font-size: rem(18);
  }

  & > section > h3 {
    font-size: rem(18);
  }

  & > section > * + h2 {
    margin-top: rem(40);
  }

  & > section > * + h3 {
    margin-top: rem(40);
  }

  & > section > h2 + * {
    margin-top: rem(18);
  }

  & > section > h3 + * {
    margin-top: rem(18);
  }

  & > img,
  & > p > img,
  & > div > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 100px;
    box-sizing: border-box;
  }

  & > ul {
    list-style: none;
    padding: 0;

    li {
      position: relative;
      padding-left: 25px;

      &::before {
        content: "";
        position: absolute;
        left: 2px;
        top: 0.4em;
        z-index: -1;
        width: 8px;
        height: 8px;
        background-color: $accent-color;
        border-radius: 50%;
        box-sizing: border-box;
      }
    }

    li + li {
      margin-top: 1em;
    }
  }

  @include mq-min(1024px) {
    .alignleft {
      float: left;
      margin-right: $gutter;
    }

    .alignright {
      float: right;
      margin-left: $gutter;
    }

    & > img,
    & > p > img,
    & > div > img {
      padding-left: 100px;
      padding-right: 100px;
    }
  }
}
