.welcome-social {
  @include clear-list();

  display: flex;
  align-items: center;

  li {
    margin-right: 34px;

    &:last-child {
      margin-right: 0;
    }
  }

  a {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: $base-color;
    transition: color $duration;

    &:hover {
      color: $accent-color;
    }
  }
}
