.welcome-slide {
  position: relative;
  min-height: 420px;
  height: 100vh;
  padding-top: 150px;
  box-sizing: border-box;
}

.welcome-slide__picture {
  @include make-fit-object(789, 645);

  height: 100%;
  box-sizing: border-box;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(#ffffff, 0.4);
  }
}
