.welcome-slider__pager {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
}

.welcome-slider__control {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  padding: 0;
  font-size: 0;
  background-color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
}

.welcome-slider__control-icon {
  transition: $duration * 2;

  .welcome-slider__control:hover & {
    fill: $accent-color;
  }
}

.welcome-slider__counter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  font-size: 15px;
  letter-spacing: 0.035em;
  background-color: #ffffff;
}
